* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.hand {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    position: absolute;
    margin-left: -23%;
    margin-top: -2%;
}

.hand img {
    width: 25vh;
    z-index: 1;
    transition: all 0.75s ease-out;
    position: absolute;
}

.logo2 {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    opacity: 91%;
    z-index: 4;
}

.logo2 img {
    width: 16vh;
    transition: all 0.75s ease-out;
    position: fixed;
    margin-top: 1vh;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(40, 39, 39);
}

.card {
    background: lightgray;
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 1rem 5rem;
    box-shadow: 0 20px 20px rgba(123, 122, 122, 0.2), 0px 0px 50px rgba(131, 131, 131, 0.2);
}

.logo {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    letter-spacing: 5px;
}

.logo img {
    width: 20rem;
    z-index: 3;
    transition: all 0.75s ease-out;
}

.header {
    background: linear-gradient(to left top, #ffffff, #050521);
    width: 100vw;
    height: 33vh;
    position: absolute;
    margin-top: -70vh;
    transition: all 2s ease-out;
}


.stripe {
    width: 100vw;
    height: 2vh;
    position: absolute;
    margin-top: -36vh;
    z-index: 0;
    background: linear-gradient(.25turn, #b1b1b198, 10%, #44545b9e);
    transition: all 2s ease-out;
    box-shadow: 0 20px 20px rgba(123, 122, 122, 0.2), 0px 0px 50px rgba(131, 131, 131, 0.2);
}





.circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        to right,
        #264653,
        #e76f51
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1 {
    font-size: 3rem;
    transition: all 0.75s ease-out;
}

.info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.roles {
    display: flex;
    justify-content: space-between;
    text-align: center;
    transition: all 0.75s ease-out;
}

.roles button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px #1722267e;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(40, 39, 39);
}
.roles button:hover {
    outline: none;
    background: linear-gradient(#e3e1e1f5,#cbcaca);
}
.roles button:active {
    outline: none;
    background: linear-gradient(#d2d1d1f5,#9d9d9d);
}
.roles button:focus {
    outline: none;
}

button.active2 {
    background: #585858;
    color: white;
    transition: all 0.75s ease-out;
}
button.active2:hover {
    outline: none;
}
button.active2:active {
    outline: none;
}
button.active2:focus {
    outline: none;
}

button.active1 {
    background: linear-gradient(#e4e4e4f5,#bababa);
    color: rgb(57, 57, 57);
    transition: all 0.75s ease-out;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0 20px 20px rgba(75, 75, 75, 0.2), 0px 0px 50px rgba(92, 91, 91, 0.2);
    transform-style: preserve-3d;
}
button.active1:hover {
    outline: none;
    background: linear-gradient(#d8d8d8f5,#aeaeae);
}
button.active1:active {
    outline: none;
    background: linear-gradient(#cbcacaf5,#949393);
}
button.active1:focus {
    outline: none;
}

.login {
    margin-top: 5rem;
}

.login button {
    transition: all 0.75s ease-out;
    letter-spacing: 3px;
    width: 100%;
    padding: 1rem 0rem;
    background:  #e76f51;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
}
.login button:hover {
    outline: none;
    background:  linear-gradient(#c48778, #ab513a);
}
.login button:active {
    outline: none;
    background:  linear-gradient(#a46c5e, #93402b);
}
.login button:focus {
    outline: none;
}

.fades {
    color: rgb(34, 34, 34);
    position: fixed;
    text-size-adjust: 3vh;
    text-shadow: .5px .5px .5px 2px rgb(34, 33, 33);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 90vh;
    margin-top: 50vh;
    z-index: 5;
}

.fades li {
  text-decoration: none;
}

.fadeColor {
    color: rgb(155, 57, 57);
}

.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

.fade-in1 {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

.fade-in2 {
    letter-spacing: 2px;
    animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
    -ms-animation: fadeIn ease 20s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }







    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 30px;
}

/* Modal Content */
.modal-content {
    border-radius: 30px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    position: sticky;
    color: #aaaaaa;
    font-size: 50px;
    font-weight: bold;
    width: 10vh;
    float: right;
    margin-top: -3vh;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(40, 40, 40);
    text-decoration: none;
    cursor: pointer;
  }

  .login-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.login-confirm button {
    transition: all 0.75s ease-out;
    letter-spacing: 3px;
    width: 50%;
    padding: 1rem 0rem;
    background:  #e76f51;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    
}
.login-confirm button:hover {
    outline: none;
    background:  linear-gradient(#c48778, #ab513a);
}
.login-confirm button:active {
    outline: none;
    background:  linear-gradient(#a46c5e, #93402b);
}
.login-confirm button:focus {
    outline: none;
}

.input-styling {
    display: flex;
    justify-content: center;

}